{% extends 'global/base.html' %}

{% block title %}
  Tela Inicial
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
      {% for p in produtos %}
        <div class="card-group">
          <div class="card">
            <img src="{{p.imagem.url}}" class="card-img-top" alt="{{p.nome}}" style="object-fit: cover" />
            <div class="card-body">
              <h5 class="card-title">{{ p.nome }}</h5>
              <p class="card-text">{{p.descricao|truncatechars:100}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">${{p.preco}}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <br />
    <form action="conta  tos">
      <button>Ir Para Contatos</button>
    </form>
  </div>
{% endblock %}
